.PS_group
{
	margin:10px;
}

.PS_head
{
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 4px lightgrey;
	font-size: 1.1em;
	background: rgb(230,230,230);
	padding: 5px;
	margin-bottom: 10px;
}

.PS_core
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.PS_passwd_input,
.PS_text_input
{
	border: solid rgb(230,230,230) 1px;
	border-radius: 5px;
	padding: 5px;
	-webkit-user-select: text;
	user-select: text;
	flex:2;
	margin: 5px;
	min-width: 200px;
	font-family: myfont;
}

#PS_passwdsave,
#PS_info_save,
#PS_loc_save
{
	border: solid rgb(230,230,230) 1px;
	border-radius: 5px;
	padding: 5px;
	flex:1;
	margin: 5px;
	cursor: pointer;
	font-family: myfont;
	color: rgb(100, 100, 100);
}

.PS_notify
{
	margin: 5px;
	border-radius: 5px;
	padding:5px;
	color: white;
}

.PS_notify[nrun="false"]
{
	display: none;
}

.PS_notify[ntype="success"]
{
	background: lightgreen;
}
.PS_notify[ntype="error"]
{
	background: orangered;
}
.PS_notify[ntype="wait"]
{
	background: blueviolet;
}

#PS_bugdesc
{
	resize: vertical;
	border: solid rgb(230,230,230) 1px;
	border-radius: 5px;
	border-bottom-right-radius: 2px;
	padding: 5px;
	-webkit-user-select: text;
	user-select: text;
	font-family: myfont;
	box-sizing: border-box;
	min-height: 40px;
	width: 100%;
	margin-top: 5px;
}

#PS_sendbug
{
	border: solid rgb(230,230,230) 1px;
	border-radius: 5px;
	margin:5px;
	padding: 5px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	font-family: myfont;
	color: rgb(100, 100, 100);
	background-image: url(/static/img/send.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.PS_subform
{
	flex:1;
	padding: 5px;
}

.PS_group input:not([type="submit"])


.PS_group input:not([type="submit"]):-moz-ui-invalid,
.PS_group textarea:-moz-ui-invalid{
	box-shadow: none;
}

.PS_group input:not([type="submit"]):-moz-ui-valid,
.PS_group textarea:-moz-ui-valid{
	box-shadow: none;
}


.PS_group input:not([type="submit"]):invalid,
.PS_group textarea:invalid{
	box-shadow: 0 0 2px orangered inset;
}

.PS_group input:not([type="submit"]):valid,
.PS_group textarea:valid{
	box-shadow: 0 0 2px lightgreen inset;
}

#PS_bugmail
{
	border: solid rgb(230,230,230) 1px;
	border-radius: 5px;
	padding: 5px;
	-webkit-user-select: text;
	user-select: text;
	font-family: myfont;
	flex: 1;
}

#PS_subform_group
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.PS_label
{
	margin: 5px;
}